@model IEnumerable<WorldTravelBlog.Models.Location>

@{
    ViewData["Title"] = "Location - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<hr />

<html>
<head>
    <title>World Travel Blog</title>
</head>
<body>
    <h2>Location List</h2>
        <h4>@Html.DisplayNameFor(model => model.Name)</h4>
    <ul>
        @foreach(var listLocation in Model)
        {
            <li>
			    @Html.DisplayFor(modelLocation => listLocation.Name)
                @Html.ActionLink("Details", "Details", new { id = listLocation.LocationId })
			</li>
        }
    </ul>
		<p>@Html.ActionLink("Add new Location", "Create")</p>
</body>
</html>