@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Location - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<hr />

<html>
<head>
    <title>World Travel Blog</title>
</head>
<body>
    <h2>Welcome to my World Travel Blog!</h2>
	<p>@Html.ActionLink("Location list", "Index", "Locations")</p>
</body>
</html>